.cart{
  margin-top: 50px;
  align-items: center;
  position: absolute;
  //background-color: #000f9f;
  z-index: 2;

 &__header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #000f9f;
   position: fixed;
   top: 0;
   width: 100%;
   &-back{
     color: white;
     margin-left: 10px;
   }
   .title{
     text-align: center;
     font-size: 26px;
     color: white;
   }
   .allClear{
     color: white;
     margin-right: 10px;
   }
 }
  .order{
    position: fixed;
    z-index: 1;
    align-items: center;
    height: 100px;
    width: 414px;
    background-color: white;
    .btn{
      background-color: #0d47a1;
      color:  rgba(255, 147, 0, 0.99);
      padding: 8px 25px;
      border-radius: 10%;
    }
  }
}

