.firstPage {
  display: flex;
  background-image: url("../assets/mainImg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 414px;
  height: 896px;
  justify-content: center;


  .abs {
    margin-top: 300px;
    .divBtn {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .divRouts {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }

    .singUp {
      color: white;
      border: 1px white solid;
      background: none;
      width: 80%;

    }
    .a {
      display: flex;
      justify-content: center;
      color: white;
      text-decoration: none;
      width: 100%;
    }
    .a-b {
      display: flex;
      justify-content: center;
      color: white;
      margin-left: 15px;


    }



    h2 {
      color: white;
      font-size: 2.75rem;
      font-weight: 500;
      line-height: 5.75rem;
      letter-spacing: -0.00833em;
    }

  }


}
