$titleCol:aliceblue;

*{
  margin: 0;
  padding: 0;
}
.login{
  background-color: #131717;

  .wrapper{
    align-items: center;
    padding: 35px 150px;
    height: auto;


    .title{
      text-align: center;
      font-size: 34px;
      color:$titleCol;
    }
    .userInf{
      .email{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: $titleCol;
      }
      .password{
        display: flex;
        flex-direction:column;
        font-size: 20px;
        color: $titleCol;

      }
      .btn{
        padding: 8px 45px;
        border: 2px solid orange;
        border-radius: 2px ;
        color: black;
      }
    }
  }
}
